.footer-panel {
    display: contents;
}

.buttonRow {
    display: flex;
    align-items: center;
    width: 100%
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 2.5vw;
    background-color: #007bff; /* Primary button color, change as needed */
    color: #fff; /* Text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 3vw;
    margin-right: auto;
}

.abortButton {
    display: inline-block;
    padding: 5px 8px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: 1.3vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}

.footer-date-panel {
    display: inline-block;
    font-size: 2.5vw;
    font-weight: normal;
    padding: 3%;
    text-wrap: avoid;
    min-width: auto;
    border: 0px solid #ddd; /* Border color */

    background-color: #f0f0f0;
    color: black;

    border-radius: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adjust the values for the desired diffusion effect */
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.button:disabled {
    border: 1px solid #ddd; /* Border color */
    background-color: #b7b6b6; /* Gray out the background */
    color: white; /* Change text color */
    cursor: not-allowed; /* Change cursor to indicate button is not clickable */
}

.button:focus {
    outline: none; /* Remove focus outline if desired */
}
