/* Calendar.css */
:root {
    --vh: 100%; /* delceration this variable initially to 100 % but might */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.booking-root {
    display: flex;
    flex-direction: column;
    /*min-height: 100%; !* Ensure app-container takes up at least the full height of the viewport *!*/
}

.header, .footer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    background: linear-gradient(to right, rgb(174, 196, 95), #659DBD); /* Gradient background */
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Box shadow for depth */
    max-width: 900px;
}

@media (max-width: 600px) {
    .header, .footer {
        width: 100%;
        float: none;
    }
}

.header {
    top: 0;
    border-bottom: 3px solid #0056b3; /* Simulate bottom border for depth */
}

.footer {
    bottom: 0;
    border-top: 3px solid #0056b3; /* Simulate top border for depth */
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/

    /*grid-template-columns: 50px repeat(54, 1fr);*/
    grid-gap: 5px;
    max-width: 900px;

    padding-top: 100px; /* Adjust based on the header height */
    padding-bottom: 100px; /* Adjust based on the footer height */
    height: calc(var(--vh, 1vh) * 100 - 100px); /* Adjust 100px to total of header and footer height */
    overflow-y: auto;
}

@media (max-width: 600px) {
    .calendar {
        width: 100%;
        float: none;
        padding-top: 100px; /* Adjust based on the header height */
        padding-bottom: 100px; /* Adjust based on the footer height */
    }
}

.month-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    color: #2f4155; /* Valfri färg för månadens namn */
}

.week {
    display: grid;
    grid-gap: 5px;
    display: flex;
    /*flex-direction: row;*/
}

.year-month-week-number {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    font-weight: bold;
    min-width: 160px;
    align-items: center;
    white-space: nowrap;
}

.year-and-month {
    justify-content: left;
    min-width: 130px;
}

.week-number {
    min-width: 20px;
    justify-content: right;
}

.just-week-number {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    font-weight: bold;
    min-width: 160px;
    align-items: center;
    white-space: nowrap;
    justify-content: right;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
    .just-week-number {
        min-width: 12%;
    }
    .week {
        grid-gap: 1%;
        display: flex;
    }

}

.calendar-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
    max-width: 92px;
    border-radius: 3px;
    text-align: center;
}

.calendar-date:hover {
    background-color: #f1f1f1;
}

.calendar-date.selected {
    background-color: rgb(174, 196, 95);
    color: white;
}

.calendar-date.your-booking {
    color: black;
    background: linear-gradient(135deg, rgba(174, 196, 95, 0.57), rgb(174, 196, 95));
    border: 1px solid rgb(174, 196, 95);
    transition: transform 0.2s;
    &:hover {
        transform: translate(3%, 3%);
    }
}

.calendar-date.booked {
    background-color: rgb(154, 147, 146);
    color: white;
}

.date {
    font-size: 16px;
    font-weight: bold;
}

.booking-info {
    font-size: 12px;
    color: #888;
}

