.bookDialog {
    visibility: hidden;
    position: absolute;

    /* Add styling here */
}

.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    background-color: rgba(205, 222, 207, 0.98);
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #000; /* Box shadow for depth effect */
    width: 50%;
    height: 50%;
    margin: auto; /* Center the modal content horizontally */
    text-align: left; /* Left-align the content within the modal */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent horizontal scroll */
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
        height: 90%;
        max-width: 100%; /* Increase width for smaller screens */
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 70%;
}

.info-text-panel{
    max-width: 80%;
}

.header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left; /* Left-align the content within the modal */
}

.header-container h2 {
    margin: 0; /* Reset the default margin of the h2 element */
    text-wrap: avoid;
}

.error-panel {
    background-color: #ffcccc;
    color: #990000;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    transition: opacity 0.6s ease; /* Add transition property for smooth fade-out */
}

.error-panel.hidden {
    opacity: 0;
    pointer-events: none; /* Disable pointer events when hidden to prevent interaction */
}

.error-text {
}

label {
    /*display: block;*/
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-row {
    display: flex;
    bottom: 20px;
    right: 30px;
    margin-top: 20px;
}

.modal-button {
    background-color: #4caf50; /* Primary button color, change as needed */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;

    /* Style for the default button */
    &.__default {
        background-color: #007bff;
        color: white;
        margin-right: 5%;
    }

    /* Style for the secondary button */
    &.__secondary {
        background-color: #4caf50;
        color: white;
    }
}

.high-lighted-panel {
    font-weight: bold;
    padding: 20px;
    border: 1px solid #ddd; /* Border color */
    border-radius: 8px; /* Border radius for rounded corners */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle depth effect */
    background-color: #92eba1;
    margin: 20px; /* Adjust margin as needed */
}

.high-lighted-panel p {
    color: #666; /* Content color */
}


.radio-container {
    border-radius: 5px;
    padding: 10px;
    display: flex; /* Add this line to align items in a row */
    width: 70%;
    align-content: center;
}

.radio-label {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust the margin to add space between radio buttons */
}

.radio-label input {
    margin-right: 8px;
    transform: scale(1.5); /* Adjust the scale factor as needed for the radio button size */
}

.radio-label span {
    font-weight: bold;
    font-size: 1.2em; /* Adjust the font size as needed for the label text */
    white-space: nowrap; /* Prevent text from wrapping */
    margin-left: 1vw;
}

@media (max-width: 600px) {
    .radio-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .radio-label {
        display: flex;
        margin-bottom: 10px; /* Adjust the margin to add space between radio buttons and labels */
    }

    .radio-label input {
        margin-right: 4vw; /* Remove the right margin to bring the radio button closer to the label */
        transform: scale(1); /* Reset the scale to the default size */
    }

    .radio-label span {
        font-weight: bold;
        font-size: 1.2em; /* Adjust the font size as needed for the label text */
        text-align: left;
    }

}
