.tooltip {
    visibility: hidden;
    position: absolute;

    /* Add styling here */
}

.tooltip.active {
    visibility: visible;
    position: absolute;
    background-color: #d1d969; /* Black background color */
    color: black; /* Text color */
    padding-bottom: 1px; /* Add spacing around the content */
    padding-top: 1px; /* Add spacing around the content */
    padding-left: 20px; /* Add spacing around the content */
    padding-right: 20px; /* Add spacing around the content */
    border-radius: 5px; /* Add rounded corners */
    z-index: 1; /* Ensure the tooltip appears above other content */

    /* Add styling here */
}

